############################## Settings Handling ##############################
alias s='source ~/.bashrc'
alias aliases='vim ~/.aliases'
alias bashrc='vim ~/.bashrc'
alias vimrc='vim ~/.vimrc'

############################## Tools ##############################
alias v='vim'
alias nv='nvim'

############################## Auto-Coloring ##############################
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

############################## Unix Basics ##############################
# ls commands
alias lt='ls -ltrh'
alias la='ls -ltrhA'

# Lazy shorthands
alias h='history'
alias c='clear'
alias j='jobs'

# Directory stack
alias pu='pushd .'
alias po='popd'
alias d='dirs -v'
alias dc='dirs -c'

# Disk space
alias dff='df -h'
alias ddu='du -hs ./*'

############################## Custom Commands ##############################
# DRAC ssh auto-password entry
if [[ -z SSH_CONNECTION ]]; then
    alias dssh='/Users/cushorts/workspace/bin/drac_login.export $DAILY_DRAC_PASSWORD ssh'
    alias dscp='/Users/cushorts/workspace/bin/drac_login.export $DAILY_DRAC_PASSWORD scp'
fi

# Alias for if SLURM is installed on the system
if [[ `sinfo -V` ]]; then
    alias wsq='watch -n 1 sq'
fi

