*

!.bash_profile
!.aliases
!.bashrc
!.vimrc
!.tmux.conf
!.gitignore
!.config/
!.config/nvim/
!.config/nvim/**
!.config/vim/
!.config/vim/**
!.config/alacritty/
!.config/alacritty/**
!.vim/
!.vim/colors/
!.vim/colors/**

